RewriteEngine On

# Перенаправление с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Правило для обработки robots.txt
RewriteRule ^robots\.txt$ robots.txt [L]

# Перенаправление всех остальных запросов на index.html для React
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]